
:root {
  --ch1: #F0EFF4;
  --ch2: #EBC999;
  --ch3: #8CA9D3;
  --inplabel: #EEF1FF;
  --ch4: #6C4AB6;
  --black: #5c5c5c;
}

body {
  background-color: var(--ch1) !important;
}

p, label {
  font-family: 'Poppins';
}

#DFG1 p {
  background-color: var(--inplabel);
  height: 100%;
  margin: 0;
  padding: 10px 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#DFG2 p {
  background-color: var(--inplabel);
  height: 100%;
  margin: 0;
  padding: 10px 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#DFG3 {
  grid-column: 1/3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.off {
  display: flex;
  flex-direction: column;
  background-color: var(--inplabel);
  padding: 10px;
  border-radius: 8px;
  gap: 8px;
}
.off label {
  width: 100%;
}
.inputs {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.inputs input{
  width: 50%;
}
.inputs input[type=time], .inputs input[type=date] {
  appearance: none;
  border: none;
  border-radius: 8px;
  padding: 0px 5px 0px 5px;
  display: block;
  height: 30px;
}
.inputs input[type=time]:focus {
  outline: 1px solid var(--ch4);
  box-shadow: 0px 0px 4px var(--ch4);
}
.inputs input[type=date]:focus {
  outline: 1px solid var(--ch4);
  box-shadow: 0px 0px 4px var(--ch4);
}

#DFFBtn {
  grid-column: 1/3;
  width: 40%;
  margin: 0px auto;
  height: 2.5em;
  border: none;
  border-radius: 15px;
}