#DemoFFSection {
  background-color: white;
  width: 70vw;
  margin: 3% auto;
  padding: 30px;
  border: 0px solid var(--black);
  border-radius: 8px;
  filter: drop-shadow(0px 0px 3px grey);
  @media only screen and (max-width: 600px) {
    width: 90%; padding: 10px;
  }
}

#DemoFFGrid {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  row-gap: 20px;

  @media only screen and (max-width: 600px) {
    display: flex; flex-direction: column;
  }

  #DFG1, #DFG2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--inplabel);
    border-radius: 10px;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  input[type=text] {
    width: 80%;
    margin: auto;
    height: 80%;
    border: none;
    padding-left: 10px;

    @media only screen and (max-width: 600px) {
      width: 100%; height: 100%;
    }
    &:focus {
      outline: none;
    }
  }

  p {
    background-color: var(--inplabel);
    height: 100%;
    margin: 0;
    padding: 10px 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

#DFG3 {
  grid-column: 1/3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;

  @media only screen and (max-width: 600px) {
    display: flex; flex-direction: column; row-gap: 20px;
  }
}

#dffsbtn {
  background: black;
  color: white;
  width: fit-content;
  height: 40px;
  border-radius: 30px;
  padding: 0px 25px;
  grid-column: 1/3;
  font-family: 'Poppins';
  font-weight: 600;
  justify-self: flex-end;

  @media only screen and (max-width: 600px) {
    align-self: flex-end;
  }
}

#vffnmicro {
  position: absolute;
  border-radius: 50%;
  bottom: 70px; left: calc(50vw - 35px);
  width: 70px; height: 70px;
}