#ndrawercont {
  overflow: hidden;
  padding: 10px;
  background-color: #172641;
  border-radius: 10px;
  display: flex; flex-direction: row; gap: 5px;
  transition: all 0.5s ease;

  &.ndtop-left {
    position: absolute; top: 90px; left: 20px;
  }
  &.ndtop {}
  &.ndtop-right {
    position: absolute; top: 10px; right: 20px;
  }
  &.ndcenter-left {}
  &.ndcenter {}
  &.ndcenter-right {}
  &.bottom-left {}
  &.bottom {}
  &.bottom-right {}

  p {
    color: white;
    font-weight: bold;
  }
  .color {
    color: #75D8EF;
  }
}

.hide {
  opacity: 0;
  scale: 0; max-height: 0px;
}

.show {
  opacity: 1;
  scale: 1; max-height: 90px;
}