#dnnavbarcontainer {
  z-index: 99;
  background-size: 300% 300%;
  background-image: linear-gradient(
    75deg, 
    #3b5881 0%, 
    #374670 15%,
    #2c354f 30%,
    #2c354f 70%,
    #374670 85%,
    #3b5881 100%);
  animation: animnavbar 14s linear infinite;
  height: 80px;
  width: 100%;
  
  @keyframes animnavbar { 
    0%{background-position:0%}
    100%{background-position:300%}
  }

  @media all and (max-width: 1280px) {
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #dnnavbar {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .neurilogo {
      height: 40%;
    }
  }
}

#demo-menu-dropdown {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  #demo-menu {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 20px;
    color: white;
    height: 50%;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
    &:hover, &:focus {
      background-color: white;
      color: black;
    }
  }

  @media only screen and (min-width: 601px) {
    #demo-menu:hover ~ .demoslist, .demoslist:hover {
      max-height: 300px;
    }
  }

  @media only screen and (max-width: 600px) {
    #demo-menu:hover ~ .demoslist {
      max-height: 300px;
    }
  }

  .demoslist {
    position: absolute;
    top: 90%; right: 0;
    z-index: 90; overflow-y: hidden;
    max-height: 0px; width: 200px; padding: 0%;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px gray);
    transition: max-height 0.5s ease;

    li {
      display: flex; flex-direction: column; gap: 10px;
      margin: 5px; border-radius: 10px;

      &:hover {
        background-color: #00000050;
      }
    }

    a {
      padding: 10px;
    }
  }
}